<% require 'open-uri' %>
<% require 'json' %>

<h1 class="mb-4">Result</h1>

<% word = JSON.parse(URI.open("https://wagon-dictionary.herokuapp.com/#{@answer}").read) %>
<% array = @answer.upcase.chars %>
<%= array %>
<% result = array.all? { |letter| array.count(letter) <= @letters.count(letter)} %>
<% if result == true %>
  <% if word["found"] == true %>
    <p>Congratulations! <%=@answer%> is a valid English word !</p>
  <% else %>
    <p>Sorry but <%=@answer%> does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p>Sorry but <%=@answer%> can't be built out of </p>
  <% @letters.each do |letter|%>
    <%=letter%>
  <% end %>
<% end %>

<%= link_to "Play again", new_path %>
